<div class="image-gallery">
  <% Dir["pictures/#{name_for_gallery}/*.jpg","pictures/#{name_for_gallery}/*.png"].first(3).each_with_index do |pic_name,index| %>
  <a href="#<%= name_for_gallery %>_carousel" data-slide-to="<%= index %>" data-toggle="modal" data-target="#<%= name_for_gallery %>_modal">
    <img class="grayscale grid-picture" src="pictures/blank.gif" data-echo="<%= pic_name %>">
  </a>
  <% end %>
</div>
<%= Tilt::ERBTemplate.new('partials/modal.html.erb').render(self, all_pictures: Dir["pictures/#{name_for_gallery}/*.jpg","pictures/#{name_for_gallery}/*.png"], title: name_for_gallery.split("_").collect{|name| name.capitalize}.join(" ")) %>
