<!DOCTYPE HTML>
<html>
<head>
  <title>Rural Reader</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->

  <link rel="stylesheet" type="text/css" href="test.css" media="all">

  <!-- Latest compiled and minified JavaScript -->
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="smooth-scroll.js"></script>
</head>
<body data-spy="scroll" data-target=".affix">
  <div id="header-img"></div>
  <div class="affix" data-spy="affix" data-offset-top="480" data-offset-bottom="200">
    <ul class="nav">
      <li class="active"><a href="#employee-spotlight">Employee Spotlight</a></li>
      <li><a href="#gso-charity-initiative">Greensboro Office Charity Initiative</a></li>
      <li><a href="#mm-charity-initiative">March Madness Charity Initiative</a></li>
      <li><a href="#caveman-lifestyle">The Caveman Lifestyle</a></li>
      <li><a href="#code-challenge">Rural Testing Code Challenge Tournament</a></li>
      <li><a href="#announcements-section">Announcements</a></li>
    </ul>
    <a class="back-to-top" href="#header-img">Top</a>
  </div>
  <div class="container">
    <div id="main-content">
      <article id="employee-spotlight">
        <section class="article-header">
          <h1>Employee Spotlight: <span class="author-name">Rodney Rodis</span></h1>
          <div class="author-section">
            <div class="avatar">
              <img src="pictures/avatars/zach_goins.jpg">
            </div>
            <div class="author-name">
              <h4>by <span id="author-name">Zach Goins</span></h4>
            </div>
          </div>
        </section>
        <div class="pull-right article-picture">
          <img src="pictures/employee_spotlight/featured.jpg">
        </div>
        <p>Rodney Rodis has been with Orasi for four years in our Atlanta office. During his time here at Orasi, he has been a valuable resource to the customers that he has had the opportunity to work with. From humble beginnings on Cox Communications working with their web billing front end, to most recently working on various Scottrade projects, Rodney has become an asset to the Rural Testing community. Since joining the Scottrade team in November of 2012, he has worked with both the Trading and Non-Trading teams, allowing him to obtain a working knowledge of the customer’s many programs. Utilizing his nearly two years of Scottrade project knowledge, Rodney is able to take a leadership role when a new resource joins the team in order to get them up to speed with the many different programs and investment terminology a resource needs to be successful on the project.  Rodney has received good feedback from both the client and from his team here at Orasi.</p>
        <p>In his free time, he enjoys spending time with his dog, sleeping, and anything related to comic books. Rodney even self publishes his own comics! Interested in seeing some of his comic book work? Head on over to his Facebook pages, stop by his desk, or send him a message on Skype. With his positive attitude and cheerful personality, Rodney continues to be a valuable asset to our company.</p>
        <div class="image-gallery">
          <% Dir["pictures/employee_spotlight/*"].each do |pic_name| %>
          <a href data-toggle="modal" data-target="#myModal"><img class="grayscale grid-picture" src="<%= pic_name%>"></a>
          <% end %>
        </div>
      </article>
      <article id="gso-charity-initiative">
        <section class="article-header">
          <h1>Greensboro Office Charity Initiative</h1>
          <div class="author-section">
            <div class="avatar">
              <img src="pictures/avatars/kristi_collins.jpg">
            </div>
            <div class="author-name">
              <h4>by <span id="author-name">Kristi Collins</span></h4>
            </div>
          </div>
        </section>
        <div class="pull-left article-picture">
          <img src="pictures/humane_society/featured.jpg" width="100">
        </div>
        <p>We wrapped up our second quarter of charity work on March 21st.  We had so much fun raising money and collecting needed items for the Humane Society of the Piedmont.  We were able to take a tour of their facility early on in the quarter so that we could get an idea of what they do day to day as well as what their biggest needs were.  It was very eye opening to see the services and care they provide not only to Guilford County but also to surrounding counties in the Piedmont.</p>
        <p>We had some really fun activities planned in order to raise funds, some of our favorites were: a scavenger hunt, an ice cream and hot chocolate bar, dress down day, and a dip cook-off.  On March 31st, we were able to present a check to the Humane Society of the Piedmont in the amount of $1,234.20.  We also provided items such as dog/cat food, towels, and newspapers which are all needed in abundance in their facility.  They were all so appreciative and even presented Orasi with a plaque recognizing our dedication and service.  We were so happy to help them and hope that we can help many other organizations in the Guilford county area in the future.</p>
        <div class="image-gallery">
	  <% Dir["pictures/humane_society/*"].each do |pic_name| %>
          <a href data-toggle="modal" data-target="#myModal"><img class="grayscale grid-picture" src="<%= pic_name%>"></a>
          <% end %>
        </div>
      </article>
      <article id="mm-charity-initiative">
        <section class="article-header">
          <h1>March Madness Charity Initiative</h1>
          <div class="author-section">
            <div class="avatar">
	      <img src="pictures/avatars/hope_isley.jpg">
            </div>
            <div class="author-name">
              <h4>by <span id="author-name">Hope Isley</span></h4>
            </div>
          </div>
        </section>
        <p>March Madness refers to the final weeks around the college basketball tournament in the US.  It is described as Madness due to the amount of schools playing in the tournament and games going on throughout the country, usually during the same time.</p>
        <p>For the Charity Initiative in the Greensboro office, we decided to have a Tournament Challenge and allow people to purchase and fill out as many NCAA Brackets as they wanted.  The price was $5.00 per bracket, and half of the proceeds earned went towards our current charity at the time, The Humane Society, and the other half went to the person who had the best overall bracket.  We had 40 total brackets purchased, which earned $100 for the charity and $100 for the winner.</p>
        <p>The winner from the Tournament Challenge was Bryan Ball.  His points totaled 910 which were 110 more points than the runner up LJ Davis’.  If you were keeping up with the Brackets during the tournament, it looked like LJ Davis was going to take home the prize money.  But if you know anything about college basketball you know that there are going to be huge upsets and the most unlikely brackets could win it all.  Bryan had UNC as his overall winner in his winning bracket; however they were knocked out of the tournament pretty early so seeing this bracket win was surprising.</p>
        <p>The top three brackets belonged to Bryan Ball, LJ Davis, and Katie Chumbley.  However, not one set of brackets filled out within our Tournament Challenge had the #7 Ranked Connecticut Huskies winning the Championship Game.  That just goes to show you predicting the outcome of these games is much harder than it seems thus making March Madness so much fun!</p>
        <p>Bryan’s winning bracket:</p>
        <div id="bryan-ncaa-bracket">
          <iframe src="http://games.espn.go.com/tournament-challenge-bracket/2014/en/entry?entryID=11566661"></iframe>
        </div>
      </article>
      <article id="caveman-lifestyle">
        <section class="article-header">
          <h1>The Caveman Lifestyle</h1>
          <div class="author-section">
            <div class="avatar">
              <img src="pictures/avatars/tim_ruckriegel.jpg">
	    </div>
            <div class="author-name">
              <h4>by <span id="author-name">Tim Ruckriegel</span></h4>
            </div>
          </div>
        </section>
        <p>Imagine 2.5 million years ago, The Stone Age, a time of hunter-gatherers. What did people eat? What was life like? The Paleo diet in combination with CrossFit attempts to answer those questions.  The “Caveman Diet” is based on the types of food people ate during the Paleolithic era. In addition, CrossFit is a way for people to be active and less sedentary. In the Greensboro office Hope Isley does both Paleo and participates in CrossFit.</p>
        <p>The Paleo diet consists of meat, vegetables, fruits, and nuts. Paleo avoids bread, grains, legumes, dairy, and stays away from processed foods.  Also, organic fruits and vegetables are preferred along with grass-fed meats. When it comes to alcohol, most alcohol is not Paleo except for some ciders and tequila. Organic food and grass-fed meats can often be more expensive than traditional food, but that does not mean the diet will be costly. In fact, according to Hope she saves a lot of money by making her own meals and not going out to eat often. By preparing her own meals she can eat healthier and know exactly what is in her food and how it is prepared. While the diet may sound very restrictive there are still plenty of delicious foods to enjoy.</p>
        <p>On the diet Hope enjoys a variety of food ranging from baked salmon to things like sweet potato fries. She has gotten a lot of Paleo recipes off of the internet from sites like Pinterest to make meatloaf, BLT’s wrapped in lettuce instead of bread, and even made her own ketchup and mayonnaise. When going to the grocery store she avoids the center aisles, because that is where most of the processed and non-Paleo items are. On the outside aisles are the fruits and vegetables and other fresh food. Even though there is a variety of food available, how does one decide what is Paleo?</p>
        <p>When Hope has a question about whether a food is Paleo there are two things she does. She either asks her CrossFit coach or does some research on her own to find out. A few tips are that if the food is packaged and has a long shelf life it is not likely Paleo. Another way to tell is by reading the ingredients of the food. If you can’t pronounce or don’t know what one or more of the ingredients are then it is doubtful the food is Paleo. Now that you know what food we can take a look at how exercise fits in.</p>
        <p>CrossFit is an exercise program that is all about high intensity workouts, incorporating movements from gymnastics, and also weightlifting.  The high intensity workouts are very short ranging from five to twelve minutes and are very tiring. In that time frame you are attempting to do as many repetitions as you can. Every time Hope goes to her CrossFit gym they are trying out new workouts and rarely are the same one repeated twice. The only time they would repeat a workout is when they are doing benchmarks. They will do an exercise at the beginning of the month and then do that same exercise at the end of the moth to measure your progress. The benchmarks also coincide with the thirty day challenge which incorporates exercise with the Paleo diet.</p>
        <p>In July of 2013 Hope did her first 30 day challenge and shortly will be participating in another one. The challenge is to do CrossFit and eat 100% Paleo. Before the challenge begins Hope will get with her coach and go through a diet plan that is customized to fit her. Since doing Paleo she has lost some weight and feels better overall than she did before eating Paleo. She does not always eat 100% Paleo, but tries to stick to eating around 90% Paleo. Even though she may not be eating 100% Paleo all the time she believes that overall she is still healthier than she was before and will continue to be Paleo for the rest of her life. If you would like to learn more about Paleo Hope recommends checking out the book, “The Paleo coach” by Jason Seib which explains in detail about the Paleo diet.</p>
      </article>
      <article id="code-challenge">
        <section class="article-header">
          <h1>Rural Testing Code Challenge Tournament</h1>
          <div class="author-section">
            <div class="avatar">
              <img src="pictures/avatars/lew_gordon.png">
            </div>
            <div class="author-name">
              <h4>by <span id="author-name">Lew Gordon</span></h4>
            </div>
          </div>
        </section>
        <p>At the end of the last year, the Code Challenge saw some of its biggest prizes since its inception in June 2013.  The winners of the end of the year challenges won a Nexus 7, a Kindle Fire HDX, and a Microsoft Surface.  Not only did the end of the year challenge have some of the best prizes, but it also had some of the toughest and most interesting challenges.  And although the rewards had gotten better, overall participation had been waning.  To combat this, we had decided to change the format of the challenge itself.  No longer would the challenge just give out monthly prizes, but also seasonal (~ 3 month) ones too.  In addition to this, anyone who merely participated and completed a challenge would be eligible to win the end of season prizes.</p>
        <div class="pull-left article-picture">
          <img src="pictures/code_challenge/featured.jpg">
        </div>
        <p>Previously, the Code Challenge was on a monthly winner schedule and there would be 3 winners per month for each challenge level (i.e. Bronze, Silver, Gold).  With the new season format, winners of the monthly challenges would receive a less significant prize, but everyone who completed a challenge would get a ticket to be entered into a larger raffle.  At the end of the season, the raffle drawing would occur and 3 people would be picked to be declared winners for that season.  Also, due to the fact that the Code Challenge was on a seasonal schedule, the prizes could be much larger.  For this first season we had an Xbox One, PS4, and Beats Wireless Headphones up for grabs.</p>
        <p>Across the three months of challenges we had a total of 704 submissions from 32 users.  While not every submission would grant a ticket, we had a significant number of raffle tickets for this season.  The season had officially ended after the March set of challenges and on April 15th we were able to do the raffle and officially announce the winners (see the YouTube video below).</p>
        <p>The high participation rate was very exciting to see for a team that had been losing faith in the project.   With this resurgence in the number of users doing the Code Challenge, the Code Challenge team is very excited to see the participation and prizes for further seasons.  In addition to this new format, we had asked participants and non-participants to take a survey to further help the challenge.  The feedback we had received was great and will definitely help us moving forward.</p>
        <p>Lastly, if you have participated in any one of the challenges we appreciate your time and effort greatly and hope that you will want to participate in a future challenge.  Keep checking the Code Challenge Site for any other updates and any announcements regarding end of season prizes.</p>
        <section class="article-header">
          <h1>Challenge Participants</h1>
        </section>
        <div class="image-gallery">
          <% Dir["pictures/code_challenge/participants/*"].each do |participant_file| %>
          <div>
            <img class="participant-picture" src="<%= participant_file %>">
            <span><%= participant_file.split("/").last.split(".")[0].tr_s("_"," ").split.map {|name| name.split('-').map {|name| name.split("'").map {|name| name[0].upcase + name[1..-1].downcase}.join("'")}.join("-")}.join(" ") %></span>
          </div>
          <% end %>
        </div>
        <iframe class="embedded-youtube-vid" src="http://www.youtube.com/embed/CCXYJCG4xkk?rel=0" frameborder="0" allowfullscreen></iframe>
        <a href="https://codechallenge.orasi.com/">Code Challenge Site</a>
      </article>
    </div>
  </div>
  <div id="announcements-section">
    <div class="announcements-section-hdr">
      <h1>Announcements</h1>
    </div>
    <% 2.times do %>
    <div class="announcements-row" style="height: <%= 200+rand(150) %>px">
      <% 3.times do %>
      <div class="announcement-cell" style="width: <%= 25 + rand(5) %>%">
        <div class="announcement-content">
          <div class="content-header">
             <h5>Greensboro Local Events</h5>
          </div>
          <div class="content-body">
            <ul>
              <li>Greensboro Grasshoppers season has started</li>
              <li>Every Friday at 8:00PM The Idiot Box presents "NoNonsense" Comedy. No-Nonsense is a stand-up comedy showcase featuring the best comedians in North Carolina</li>
              <li>BROTHER WOLF at the triad stage May 6 - 25, 2014</li>
              <li>Chuckapalooza 2014 :: An Outdoor Summer Music Festival  June 21 and June 22</li>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div id="volunteer-section" class="container">
    <h3>Thank you to the Newsletter Committee and all volunteers who helped us put 
together our Fourth Edition of “The Rural Reader”:</h3>
    <div class="volunteers">
    <% Dir["pictures/avatars/*"].each do |person_file| %>
    <div class="volunteer">
    <div class="avatar">
      <img src="<%= person_file %>">
    </div>
    <span><%= person_file.split("/").last.split(".")[0].tr_s("_"," ").split.map {|name| name.split('-').map {|name| name.split("'").map {|name| name[0].upcase + name[1..-1].downcase}.join("'")}.join("-")}.join(" ") %></span>
    </div>
    <% end %>
    </div>
  </div>
  <footer>Created with <3 by the <a href="mailto:RTNewsletter@orasi.com">Rural Reader Team</a></footer>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">The Hobbit photos</h4>
        </div>
        <div class="modal-body">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="text-align:center;">
              <div class="item active" style="text-align:center;">
                <img class="carousel-image" src="http://2.bp.blogspot.com/-z2_XigD9I0U/UNpe57TlDjI/AAAAAAAAAo0/OoVEkLJGUfI/s1600/The-Hobbit-1024x1024.jpg">
              </div>
              <div class="item">
                <img class="carousel-image" src="http://www.digitaltrends.com/wp-content/uploads/2013/02/the-hobbit-movie-48-fps.jpg">
              </div>
              <div class="item">
                <img class="carousel-image" src="me.png">
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</body>
</html>
